.hero-unit
  %h1
    Formula
    %small a Ruby on Rails form generator library
  %p Formula is a Rails form helper that generates awesome markup. The project lets users create semantically beautiful forms without introducing too much syntax.
  %p
    = link_to 'Contacts', contacts_path, :class => 'btn btn-primary btn-large'