<div class="container">
  <div class="grid-12">

    <h1>Contacts</h1>

    <table>
      <% @contacts.each do |contact| %>
        <tr>
          <td><%= contact.name %></td>
          <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
          <td><%= link_to 'Destroy', contact, :confirm => 'Are you sure?', :method => :delete %></td>
        </tr>
      <% end %>
    </table>

    <%= link_to 'New', new_contact_path %>
    
  </div>
</div>