= formula_form_for(@<%= singular_table_name %>) do |form|
  <%- attributes.each do |attribute -%>
  = form.<%= attribute.reference? ? :association : :input %> :<%= attribute.name %>
  <%- end -%>

  = form.button :submit